.content-container{
  width: 100%;
  min-height: 100%;
  position: relative;
  height: 100%;
  .header-box{
    height: 68px;
    background: #FFF;
    border-bottom: 1px solid #dcdcdc;
  }
  .sideBar{
    width: 200px;
    background: #2f4050;
    min-height: calc(100% - 68px);
    float: left;

  }
  .content-body{
    width: calc(100% - 230px);
    margin-left: 200px;
    position: absolute;
    padding: 20px 15px;
    background: #f0f0f0;
    min-height: calc(100% - 110px);
  }
  .content-footer{

  }
}
.el-pagination{
  margin-top: 10px;
  background: #FFF;
  padding: 10px;
}
