.content-container{
  width: 100%;
  background: #FFF;
  min-height: 100%;
  position: relative;
  height: 100%;
  .header-box{
    height: 68px;
    border-bottom: 1px solid #dcdcdc;
  }
  .sideBar{
    width: 200px;
    background: #2f4050;
    min-height: calc(100% - 68px);
    float: left;
  }
  .content-body{
    width: calc(100% - 200px);
    margin-left: 200px;
  }
  .content-footer{

  }
}
